<div class="container">
  <h3>Create Challenge</h3>
  <div class="row">
    <div class="col-md-8">
      <form ng-submit="createCtrl.create()">
        <h4>Title</h4>
        <input ng-model="createCtrl.challenge.title" class="form-control" required>
        <h4>Description &amp; Instructions</h4>
        <textarea ng-model="createCtrl.challenge.description" class="form-control" required></textarea>
        <br><br>
        <h4>Classes</h4>
        <div ng-repeat="class in createCtrl.challenge.classes">
          <input ng-model="class.name">
        </div>
        <input placeholder="Add class" ng-model="createCtrl.addClassText"> <button type="button" class="btn btn-default" ng-click="createCtrl.addClass(createCtrl.addClassText)">Add</button>
        <br><br>
        <h4>Search Points</h4>
        Sample areas will be focused around these lat/long coordinates. Put each point on a separate line and split lat/long with a comma, like so:
        <div class="text-muted">
          25.1423, 55.239<br>
          26.382, 56.497<br>
          25.512, 56.294<br>
        </div>
        <textarea ng-model="createCtrl.searchPointText" class="form-control" required></textarea>
        <h4>Search Radius (km)</h4>
        Sample areas will be randomly distributed in this radius around the search points.
        <br>
        <input type="number" ng-model="createCtrl.challenge.search.radiusKm" required>
        <br><br>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>
