$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

 /**
 *
 #2D4059
#EA5455
#F07B3F
#FFD460
 */

$color-primary: #EA5455;
$color-2: #2D4059;
$color-3: #F07B3F;
$color-4: #FFD460;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

button:focus, button:active, .btn:focus, .btn:active  {
  outline:none;
}

.btn {
  border: 0;
  border-radius: 0;
}

.btn-lg {
  padding: 18px 34px;
}

.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.2em;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 16px;
}

.navbar-dark {
  background-color: $color-primary;
  color: white;
  & a {
    color: white;
  }
  & .navbar-nav {
    font-size: 0.9em;
  }
  & .navbar-nav > li > a {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  & .navbar-text {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  & .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
      background-color: darken($color-primary, 6) !important;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'browse/browse';
@import 'challengeStart/challengeStart';
@import 'challengeTag/challengeTag';
@import 'main/main';
@import 'manage/manage';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */
