.browse-image-container {
  width: 100%;
  & .browse-image {
    height: 200px;
    width: 100%;
    background-position: top;
    & .browse-text-container {
      background-color: rgba(45, 64, 89, 0.6);
      color: white;
      padding: 20px;
      height: 100%;
    }
    & a {
      color: white;
    }
  }
}
