<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-default pull-right" ui-sref="create"><i class="fa fa-plus"></i>&nbsp;New Challenge</button>
      <h2>Manage Challenges</h2>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" ng-repeat="challenge in manageCtrl.challenges">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <h4>{{challenge.title}}</h4>
              {{challenge.description | limitTo:200}}
            </div>
            <div class="col-md-6">
              <strong>Labels:</strong> <span ng-repeat="(c, class) in challenge.classes">{{class.name}}<span ng-show="c < (challenge.classes.length -1)">,&nbsp;</span></span>
              <br><br>
              <strong>Download</strong>
              <br>
              <button class="btn btn-default" ng-click="manageCtrl.downloadCsv(challenge._id)">CSV</button>
            </div>
          </div>

        </div>
      </div>
      <div ng-show="!manageCtrl.challenges || manageCtrl.challenges.length == 0">
        Looks like you haven't created any challenges yet. <a ui-sref="create">Create one now!</a>
      </div>
    </div>
  </div>
</div>
